html{
    color:black;
    font-family: Verdana, Arial, sans-serif;
    background-color: #006400;
}

#container{
    min-width:900px;
}

/*  nav */
nav{
    background-color: #DDDDDD;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display:inline-block;
    background-color: #000000;
}

.sublink{
    display:inline-block;
    /*background-color: #538625;*/
    background-color: #006400;
    font-style: italic;
    line-height: 36px;
}

nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:20px;
    line-height: 40px;
    text-decoration:none;
}

nav a:hover {
    background-color: #8FE407;
    color: #000000;
}

nav
p{
    float: left;
}

/* header */
header{
    background-color: #DDDDDD;
    height:64px;
}

header h2{
    margin-top: 10px;
    color: #006400;
}

#logo{
    float: left;
    margin:2px 12px 2px 2px;
    height: 60px;
    /*background-color: white;*/
}

/* content */
#content{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 300px;
    margin: 10px 0px;
}
.item{
    background-color: #ffffff;
    padding: 20px;
}
#afbeelding{
    padding: 0px;
    border: 0px;
}


.onderdeel{
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}
.onderdeel p{
    margin-top: -5px;
}

/* footer */
footer{
    background-color: #DDDDDD;
    height: 30px;
    padding: 5px 20px;
    text-align: right;
}

.nietBold{
    font-weight: normal;
}